<%- include('./includes/head'); %>
<%- include('./includes/nav'); %>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>

        <div class="col-lg-8 my-3">
            <h1 class="text-center">Agenda</h1>
            <p class="text-center lead">Seus contatos estão abaixo</p>
        </div>

        <div class="responsive-table" style="margin: 0 auto;">
            <table class="table my-3">
                <tr>
                    <td>Luiz</td>
                    <td>Otavio</td>
                    <td>+5549999415495</td>
                    <td>gabrielfernand464508@gmail.com</td>
                </tr>
            </table>
        </div>

        <div class="col-lg-2"></div>
    </div>
</div>

<%- include('./includes/footer'); %>