<% if(errors.length > 0) { %>
    <div class="row">
        <div class="col my-3">
            <div class="alert alert-danger">
                <% errors.forEach(erro => { %>
                    <%= erro %> <br>
                <% }); %>
            </div>
        </div>
    </div>
<% } %>

<% if(succes.length > 0) { %>
    <div class="row">
        <div class="col my-3">
            <div class="alert alert-succes">
                <% errors.forEach(succes => { %>
                    <%= succes %> <br>
                <% }); %>
            </div>
        </div>
    </div>
<% } %>